.pagination-matrix-container {
    position: relative;
    width: fit-content;
    overflow: auto;
    padding-bottom: 1em;
}

.steps-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

.step-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    overflow: auto;
    padding-bottom: 1em;
    align-items: center;
}