.select-container {
  font-size: 22px;
  margin-bottom: 1em;
}

.select {
  font-size: 22px;
  margin-left: 1em;
}

.button {
  font-size: 18px;
}

.error-message {
  margin-top: 1em;
  color: red;
  font-weight: 500;
}


/* *************************** */
.calculation-container {

}
