.select-container {
  font-size: 22px;
  margin-bottom: 1em;
}

.select {
  font-size: 22px;
  margin-left: 1em;
}

.method-of-calculation-tip-text {
  font-size: 20px;
  font-weight: 300;
  max-width: 900px;
  margin-top: .5em;
}

.button {
  font-size: 18px;
}

.error-message {
  margin-top: 1em;
  color: red;
  font-weight: 500;
}


/* *************************** */
.calculation-container {

}
