.label {
  font-size: 22px;
}

.select {
  font-size: 22px;
  margin-left: 1em;
}

.button {
  font-size: 18px;
}

.error-message {
  margin-top: 1em;
  color: red;
  font-weight: 500;
}


/* *************************** */
.calculation-container {

}

.steps-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  overflow: auto;
  padding-bottom: 1em;
}

.step-header {
  text-align: center;
  margin-bottom: .6em;
}