html {
  background: #f6f8fa00;
}

body {
  background: #f6f8fa00;
  margin: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


table {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 9px;
  overflow: hidden;
}

th, td {
  padding: 1em;
  background: #eee;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

button {
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 4px 12px;
}

button:hover {
  cursor: pointer;
  background-color: #ddd;
}

select {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 5px;
}